<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="static/assets/css/main.css" />
		<noscript><link rel="stylesheet" href="static/assets/css/noscript.css" /></noscript>
  </head>
<body>

<form method="post" action="/mood">
   <label for="nickname">Name: </label>
   <input type='text' name='nickname'>
  
<p>Please select your mood:</p>
  <input type="radio" name="mood" value="happy"> Happy<br>
  <input type="radio" name="mood" value="sad"> Sad<br>
  <input type="radio" name="mood" value="mad"> Mad<br>
  <!--  <input type="radio" name="mood" value="stressed"> Stressed<br>-->
  <!--<input type="radio" name="mood" value="in love"> In Love<br>-->


<p>Please select your genre:</p>
  <input type="radio" name="genre" value="pop"> Pop<br>
  <input type="radio" name="genre" value="rnb"> RnB<br>
  <input type="radio" name="genre" value="rock"> Rock<br>  
  <input type="radio" name="genre" value="rap"> Rap<br>  
  <input type="radio" name="genre" value="country"> Country<br>
  <!--<input type="radio" name="genre" value="classical"> classical<br>-->
  
  <input type="submit" value="Submit">
  
 
</form>

</body>
</html>

