<!DOCTYPE html>
<html>
<body>

<form method="post" action="/mood">
   <label for="nickname">Name: </label>
   <input type='text' name='nickname'>
  
<p>Please select your mood:</p>
  <input type="radio" name="mood" value="happy"> Happy<br>
  <input type="radio" name="mood" value="sad"> Sad<br>
  <input type="radio" name="mood" value="mad"> Mad<br>  

<p>Please select your genre:</p>
  <input type="radio" name="genre" value="pop"> Pop<br>
  <input type="radio" name="genre" value="rnb"> RnB<br>
  <input type="radio" name="genre" value="rock"> Rock<br>  
  <input type="radio" name="genre" value="rap"> Rap<br>  
  <input type="radio" name="genre" value="country"> Country<br>  

  <input type="submit" value="Submit">
</form>

</body>
</html>

